{{ $ := .root }}
{{ $page := .page }}

{{ $author := "" }}
{{ if .author }}
  {{ $author = .author }}
{{ else }}
  {{ $author = $page.Params.author }}
{{end}}

{{ $person_page_path := (printf "/authors/%s" $author) }}
{{ $person_page := site.GetPage $person_page_path }}
{{ if not $person_page }}
  {{ errorf "Could not find an author page at `%s`. Please check the value of `author` in your About widget and create an associated author page if one does not already exist. See https://wowchemy.com/docs/page-builder/#about " $person_page_path }}
{{end}}
{{ $person := $person_page.Params }}
{{ $avatar := ($person_page.Resources.ByType "image").GetMatch "*avatar*" }}
{{ $avatar_shape := site.Params.avatar.shape | default "circle" }}
<!-- About widget -->
<div class="about-widget">
<div class="row">
  <div class="about-avatar col-12 col-lg-4"> 
    <br> 
    {{ $avatar_image := $avatar.Fill "400x400 Center" }}   
    <img class="avatar {{if eq $avatar_shape "square"}}avatar-square{{else}}avatar-circle{{end}}" src="{{ $avatar_image.RelPermalink }}" alt="{{$person_page.Title}}">        
  </div>
  <div class="col-12 col-lg-8 card-about-outer">
    <h1 class="about-name">Emily E. Ackerman</h1>        
    <h2 class="about-name">She/her <span>&#183;</span> Harvard Medical School</h2>  
    <div class="card-about" style="padding:1rem;padding-bottom:0.25rem;margin-top:5px;margin-bottom:10px;">
        Hello!! I'm a postdoctoral researcher with the Lahav Lab in the systems biology department at Harvard Medical School. My focus lies in developing computational methods to understand the role of p53 protein dynamics in determining cell fate. Previous work includes network and mathematical modeling of immunoregulation during influenza and SARS-CoV-2 infection. 
        <br>
        <br>
        <ul class="network-icon" aria-hidden="true">
          <li>
              <p class="btn-articles"><a href="/files/cv.pdf" class="btn"><b>Curriculum Vitae</b></i></a></p>
          </li> &emsp;
          <li>
            <a href="mailto:emily_ackerman@hms.harvard.edu" aria-label="Email" style="color:$sta-menu-text;font-size:1.6rem;border-bottom:none;"> 
              <i class="fas fa-envelope md-icon"></i>
            </a> &ensp;
          </li>
          <li>
            <a href="https://www.linkedin.com/in/emily-ackerman-61716063/" aria-label="LinkedIn" style="color:$sta-menu-text;font-size:1.6rem;border-bottom:none;">
              <i class="fab fa-linkedin-in md-icon"></i>
            </a> &ensp;
          </li>
          <li>
            <a href="https://twitter.com/EmilyEAckerman" aria-label="Twitter" style="color:$sta-menu-text;font-size:1.6rem;border-bottom:none;">
              <i class="fab fa-twitter md-icon"></i>
            </a>
          </li>
        </ul> 
      </div>
  </div>
</div>
</div>
<br> 
<br> 
<br>
<div class="card"> 
	<div class = "card-body bio-padding"> 
		<p>I joined Galit Lahav’s lab as a postdoctoral researcher in the systems biology department at Harvard Medical School in September 2021. My research uses <span style="color: #505CCD">computational methods</span> to understand the connection between <span style="color: #505CCD">single cell p53 protein dynamics and transcriptomic profiles</span> in cell fate decisions. 
</p> 
<p> As a PhD student in the University of Pittsburgh’s chemical and petroleum engineering program, I was supported by the Howard Hughes Medical Institute as a Gilliam Fellow. My work can be divided into two computational areas that address both <span style="color: #505CCD">influenza A virus and SARS-CoV-2</span> infection: antiviral drug target identification using <span style="color: #505CCD">network biology and dynamic modeling of the immune response</span> to viral infection.  
	</p>
	<p> 
	Beyond my science itself, I am committed to creating a scientific enterprise that is diverse and equitable. I am a <span style="color: #505CCD">queer, disabled woman</span>, and my equity work largely revolves around bringing the tenets of <span style="color: #505CCD">disability justice and fair labor practices</span> to academia and STEM professions at large. Most notably, I have served as a member of two NASEM projects on disability issues, a NIH working group on the status of postdoctoral training in the US, and currently serve as the disability advisor for the systems biology department at Harvard. I have published writings and spoken publicly on my identity and experience with the way STEM fields exclude disabled voices.</p> 
	<p> 
	In my free time, I enjoy painting, reading manga, and spending time with my cat, Poppy. 
	</p> 
	</div> 
	</div> 
</div>
