{{ $ := .root }}
{{ $page := .page }}

{{ $author := "" }}
{{ if .author }}
  {{ $author = .author }}
{{ else }}
  {{ $author = $page.Params.author }}
{{end}}

{{ $person_page_path := (printf "/authors/%s" $author) }}
{{ $person_page := site.GetPage $person_page_path }}
{{ if not $person_page }}
  {{ errorf "Could not find an author page at `%s`. Please check the value of `author` in your About widget and create an associated author page if one does not already exist. See https://wowchemy.com/docs/page-builder/#about " $person_page_path }}
{{end}}
{{ $person := $person_page.Params }}
{{ $avatar := ($person_page.Resources.ByType "image").GetMatch "*avatar*" }}
{{ $avatar_shape := site.Params.avatar.shape | default "circle" }}
<!-- About widget -->
<div class="about-widget">
<div class="row">
  <div class="about-avatar col-12 col-lg-4"> 
    <br> 
    {{ $avatar_image := $avatar.Fill "300x300 Center" }}   
    <img class="avatar {{if eq $avatar_shape "square"}}avatar-square{{else}}avatar-circle{{end}}" src="{{ $avatar_image.RelPermalink }}" alt="{{$person_page.Title}}">        
  </div>
  <div class="col-12 col-lg-8 card-about-outer">
    <h1 class="about-name">Emily E. Ackerman</h1>        
    <h2 class="about-name">She/her</h2>  
    <span class="middot-divider"></span>
    <h2 class="about-name">University of Pittsburgh</h2> 
    <div class="card-about" style="padding:1rem;padding-bottom:0.25rem;">
        Hello! I'm a sixth year chemical engineering PhD student using network and mathematical modeling to study immunoregulation during influenza and SARS-CoV-2 infection. I'm looking for a postdoc position to start in Fall 2021. 
        <br>
        <br>
        <ul class="network-icon" aria-hidden="true">
          <li>
              <p class="btn-articles"><a href="/files/cv.pdf" class="btn"><b>Curriculum Vitae</b></i></a></p>
          </li> &emsp;
          <li>
            <a href="mailto:eea16@pitt.edu" style="color:$sta-menu-text;font-size:1.6rem;border-bottom:none;"> 
              <i class="fas fa-envelope md-icon"></i>
            </a> &ensp;
          </li>
          <li>
            <a href="https://www.linkedin.com/in/emily-ackerman-61716063/" style="color:$sta-menu-text;font-size:1.6rem;border-bottom:none;">
              <i class="fab fa-linkedin-in md-icon"></i>
            </a> &ensp;
          </li>
          <li>
            <a href="https://twitter.com/EmilyEAckerman" style="color:$sta-menu-text;font-size:1.6rem;border-bottom:none;">
              <i class="fab fa-twitter md-icon"></i>
            </a>
          </li>
        </ul> 
      </div>
  </div>
</div>
</div>
<br> 
<br> 
<br>
<div class="card"> 
	<div class = "card-body bio-padding"> 
		<p>I am a sixth year PhD student in the University of Pittsburgh’s chemical and petroleum engineering program. My thesis work can be divided into two areas: 
	  </p>	
	    <ul> 
	      <li>Antiviral drug target identification using network biology </li>
	      <li>Dynamic modeling of the immune response to viral infection </li>
	    </ul> 
	  <p> 
	Working at the cellular and systems level, my aim is to better understand the mechanisms driving observed immunoregulatory behavior to improve drug development. While initially using influenza A virus as the primary infection of study, I repeated network controllability studies to efficiently prioritize drug repositioning candidates for treating SARS-CoV-2 infection at the onset of the COVID-19 pandemic.	
	</p>
	<p> 
	As a queer, disabled woman in STEM, I am passionate about the advancement of underrepresented populations in STEM. I have had the opportunity to perform diversity and equity work in academia with Future of Research, the TAE Consortium, and the Howard Hughes Medical Institute as a Gilliam Fellow. I am also an active advocate in the disability community for equitable access to education and technology. In my free time, I enjoy painting, union organizing with my fellow grad workers, and spending time with my cat, Poppy. </p>
	</div> 
	</div> 
</div>
