{{ $ := .root }}
{{ $page := .page }}

<!-- Accomplishments widget -->
<div class="row featurette">
  <div class="col-12 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>
    {{ with $page.Content }}{{ . }}{{ end }}
  <div class="col-12 mb-1" style="align-self: center">
        <div class="card">
        <div class = "card-body bio-padding">
		<p> As a proud disabled person, I am passionate about equity for the disabled, both inside and outside of academia. I am committed to fighting the often overlooked ableism that is engrained into our institutions, particularly at the intersection of multiple marginalized identities.  </p>
		<p><img border="0" alt="A stick figure stands at the bottom of two steps to REPRESENTATION. The first is labeled 'equal access to tech for users' and the second is labeled 'Developer access to industries'" src="media/advocacyfig.png" width="100%" height="100%" border-radius=30%;>
		<img border="0" alt="A cycle with four parts: 1. Better, moreaccessible tech, 2. Greater access to education, 3. More disabled people in STEM, and 4. More representation in industry" src="media/advocacy_cycle.png" width="100%" height="100%" border-radius=30%;>
		</p>
		<p>  Driven by an experience with autonomous robots whose inaccessibility poses a tangible threat to the disability community, I am interested in exploring the inequity created by the inaccessibility of tech and education. I believe that representation in STEM and the design process is key, and that it must be addressed at two levels: making tech accessible for the disabled user to gain equitable access to education, and making the tech industry more accessible and supportive for disabled developers. I have given talks, written an op-ed for Bloomberg's Citylab, and been the featured story in the Financial Times <em>(linked below). </em> </p>
	</div>
        </div>

  </div>

  
  <div class="col-12 col-lg-6 mb-1" style="align-self: center">
    {{ with $page.Content }}{{ . }}{{ end }}
    <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed//MZtYriuua3U' frameborder='0' allowfullscreen></iframe></div>
           <div class="card mt-3">
        <div class = "card-body advocacy-padding">
		<p> Coming soon! <a href="https://www.alieward.com/ologies"> Ologies</a> and <a href= "https://disabilityvisibilityproject.com/"> Disability Visibility Project </a> podcast episodes </p>
        </div>
        </div> 
  </div>

    <div class="col-12 col-lg-6 mb-1" style="align-self: center">
	    <p><div class="img-link">
	    <a href="https://www.bloomberg.com/news/articles/2019-11-19/why-tech-needs-more-designers-with-disabilities">
			<img border="0" alt="My Fight With a Sidewalk Robot. A life-threatening encounter with AI technology convinced me that the needs of people with disabilities need to be engineered into our autonomous future. An article for Citylab by Emily Ackerman" src="media/citylab.png" width="100%" height="100%" border-radius=30%;>
			</a></div></p>
	<p> <div class="img-link">
	    <a href="https://www.ft.com/content/f5bd21da-33b8-11ea-a329-0bcf87a328f2">
                        <img border="0" alt="How to design AI that eliminates disability bias. An article for the Financial Times by Alicia Clegg" src="media/ft.png" width="100%" height="100%" border-radius=30%;>
	    </a></div></p>

	    </div>

<div class="col-12 mb-1">
    {{ with $page.Content }}{{ . }}{{ end }}
        <div class="card">
        <div class = "card-body advocacy-padding">
		<p> I am available for talks, podcasts, consulting, collaborations, and more, <a href="mailto:eea16@pitt.edu"> just ask!</a> </p>
	</div>
        </div>

  </div>


</div>
