{{ $ := .root }}
{{ $st := .page }}
{{ $autolink := default true $st.Params.autolink }}
{{ $data := site.Params }}

{{ $columns := $st.Params.design.columns | default "2" }}

<div class="container">
  <div class="row justify-content-center">
  <div class="col-12 col-lg-12">
    {{ with $st.Content }}{{ . }}{{ end }}

    {{ if $st.Params.email_form }}

    {{ $post_action := "" }}
    {{ if eq $st.Params.email_form 1 }}
      {{ $post_action = "netlify" }}
    {{ else }}
      {{ if not $data.email }}
        {{ errorf "Please set an email address for the contact form using the `email` parameter in `params.toml`. Otherwise, set `email_form = 0` to disable the contact form." }}
      {{ end }}
      {{ $post_action = printf "action=\"https://formspree.io/%s\"" $data.email }}
    {{end}}

    <div class="mb-3">
      <form name="contact" method="POST" {{ $post_action | safeHTMLAttr }} {{ if eq $st.Params.email_form 1 }}netlify-honeypot="welcome-bot"{{end}} {{ if $st.Params.netlify.captcha }}data-netlify-recaptcha="true"{{end}}>
        <div class="form-group form-inline">
          <label class="sr-only" for="inputName">{{ i18n "contact_name" }}</label>
          <input type="text" name="name" class="form-control w-100" id="inputName" placeholder="{{ i18n "contact_name" | default "Name" }}" required>
        </div>
        <div class="form-group form-inline">
          <label class="sr-only" for="inputEmail">{{ i18n "contact_email" }}</label>
          <input type="email" name="email" class="form-control w-100" id="inputEmail" placeholder="{{ i18n "contact_email" | default "Email" }}" required>
        </div>
        {{ if eq $st.Params.email_form 1 }}
        <div class="d-none">
          <label>Do not fill this field unless you are a bot: <input name="welcome-bot"></label>
        </div>
        {{ end }}
        {{ if $st.Params.netlify.captcha }}
        <div class="form-group" data-netlify-recaptcha="true"></div>
        {{ end }}
        <button type="submit" class="btn btn-lg px-3 py-2">{{ i18n "contact_send" | default "Send" }}</button>
      </form>
    </div>
    {{end}}

      <div class="row justify-content-center">

          <ul class="network-icon" aria-hidden="true">
          <li>
              <p class="btn-articles"><a href="/files/cv.pdf" class="btn"><b>Curriculum Vitae</b></i></a></p>
          </li> &emsp;
          <li>
            <a href="mailto:eea16@pitt.edu" aria-label="Email" style="color:$sta-menu-text;font-size:1.6rem;border-bottom:none;">
              <i class="fas fa-envelope md-icon"></i>
            </a> &ensp;
          </li>
          <li>
            <a href="https://www.linkedin.com/in/emily-ackerman-61716063/" aria-label="LinkedIn" style="color:$sta-menu-text;font-size:1.6rem;border-bottom:none;">
              <i class="fab fa-linkedin-in md-icon"></i>
            </a> &ensp;
          </li>
          <li>
            <a href="https://twitter.com/EmilyEAckerman" aria-label="Twitter" style="color:$sta-menu-text;font-size:1.6rem;border-bottom:none;">
              <i class="fab fa-twitter md-icon"></i>
            </a>
          </li>
        </ul>
      </div>

  </div> 
  </div>
</div>