{{ $ := .root }}
{{ $page := .page }}

<!-- Accomplishments widget -->
<div class="row featurette">
  <div class="col-12 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
     </div>
    {{ with $page.Content }}{{ . }}{{ end }}
  <div class="row justify-content-center">
    <div class="col-10 mb-1" style="align-self: center">
          <div class="card">
          <div class = "card-body bio-padding">
      <p> As a proud disabled person, I am passionate about equity for the disabled, both inside and outside of academia. I am committed to fighting the often overlooked ableism that is engrained into our institutions, particularly at the intersection of multiple marginalized identities.  </p>
        <p>
        <div class="left"><img border="0" alt="A stick figure stands at the bottom of two steps to REPRESENTATION. The first is labeled 'equal access to tech for users' and the second is labeled 'Developer access to industries'" src="media/steps.png" width="100%" height="100%" border-radius=30%;></div>
        <div class= "right"><img border="0" alt="A cycle with four parts: 1. Better, more accessible tech, 2. Greater access to education, 3. More disabled people in STEM, and 4. More representation in industry" src="media/advocacy_cycle.png" width="100%" height="100%" border-radius=30%;>
        </div></p>
      <p>  Driven by an experience with autonomous robots whose inaccessibility poses a tangible threat to the disability community, I am interested in exploring the inequity created by the inaccessibility of tech and education. I believe that representation in STEM and the design process is key, and that it must be addressed at two levels: making tech accessible for the disabled user to gain equitable access to education, and making the tech industry more accessible and supportive for disabled developers. </p>
      <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0;  width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed//MZtYriuua3U' frameborder='0' allowfullscreen></iframe></div>
         </div>
            </div>
    <div class="col-12 section-heading">
      <h2>Writings and Interviews</h2>
      <h4><i color: $sta-menu-text-active>(Photos are links)</i></h4>
    </div>

    </div> 
  </div>
</div>
