/*************************************************
 *  Academic's Core
 *************************
 *************************/

html {
  font-family: $sta-font-body, sans-serif;
  color: #011313;
  line-height: 1.2;
}
//@media screen and (min-width: 58em) {
  //html {
    //font-size: #{$sta-font-size}px;
  //}
//}

body {
  font-family: inherit;
  font-size: 1.2rem;
  line-height: inherit;
  color: inherit;
  background-color: $sta-background;
  margin-top: 70px; /* Offset body content by navbar height. */
  padding-top: 0;
  counter-reset: captions;
}


/*******************************
* Section header titles
*******************************/

.article-container {
  max-width: 960px;
  padding: 0 20px 0 20px;
  margin: 0 0.5 0 1;
}

/* homepage section headers */
.section-heading h1 {
  /*margin: 0 0 0px 0;*/
  font-weight: 900;
  font-size: 2.8rem;
  color: $sta-menu-text;
}

.dark .section-heading h1 {
  /*margin: 0 0 0px 0;*/
  font-weight: 900;
  font-size: 2.8rem;
  color: $sta-menu-text;
}

.dark .section-heading h2 {
  color: $sta-menu-text;
}

/*************************************************
 * Icons
 **************************************************/

.svg-icon {
  display: inline-flex;
  align-self: center;
}
.svg-icon {
  height:1.1em;
  width:1.1em;
}
.svg-icon.svg-baseline {
  bottom: 0.1em;
  line-height: 1;
  position: relative;
}

/*******************************
* Contact
*******************************/

/* change icon size */
.contact-widget .fa-li {
  position: absolute;
  left: -3.14285714rem; /* Negative of `.contact-widget .fa-ul` margin. */
  width: 2rem; /* Match `fa-2x` icon size. */
  top: 0.14285714em; /* Default FA value. */
  text-align: center;
  text-size: 1.0rem;
}

.contact-widget li {
  padding-top: 1.4rem; /* Align text with bottom of `fa-2x` icon. */
  margin-bottom: 0.3rem;
}

/*************************************************
 *  Compact (stream) list view
 **************************************************/

.media.stream-item {
  margin-bottom: 2rem;
}

.media.stream-item .article-title,
.card-simple .article-title {
  font-size: 2rem;
}


/*************************************************
 *  Buttons
 **************************************************/
.btn {
  padding: .5 rem;
  font-size: .8rem;
  line-height: .5;
  border-radius: .3rem;
}

.btn-links .btn {
  padding: .3rem;
}

.btn-links .btn:hover {
  padding: .3rem;
  color: $sta-menu_primary;
  border-color: $sta-menu_primary;
  background-color: #505CCD !important;
}

.btn.btn-sm {
  padding: .3rem;
  font-size: .6rem;
  border-radius: .2rem;
}

.btn-toolbar .btn {
  font-size: 0.9rem;
  padding: 10px 14px 9px;
  border: none;
}

.btn-toolbar .btn:first-child {
  border-radius: 6px 0 0 6px;
}

.btn-toolbar .btn:last-child {
  border-radius: 0 6px 6px 0;
}

.btn-toolbar .btn.btn-primary:hover,
.btn-toolbar .btn.btn-primary:focus {
  background-color: $sta-primary-light !important;
}

.btn-toolbar .btn.btn-primary:active,
.btn-toolbar .btn.btn-primary.active {
  background-color: $sta-primary-dark !important;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  padding: .3rem;
  box-shadow: 0 0 0 .2rem $sta-primary-light;
}

.btn-articles .btn {
  padding: .3rem;
  line-height: 1;
  box-shadow: 3px 3px 0 0 #505CCD;
  color: #505CCD;
  border-color: #505CCD;
  background-color: $sta-menu_primary !important;
  justify-content: center; 
}

.btn-articles .btn:hover {
  padding: .3rem;
  line-height: 1;
  box-shadow: 3px 3px 0 0 #505CCD;
  color: $sta-menu_primary;
  border-color: $sta-menu_primary;
  background-color: #505CCD !important;
  justify-content: center; 
}

/*************************************************
 *  Button size override
 *************************************************/

 .btn {
  padding: .5rem;
  font-size: .8rem;
  line-height: .5;
  border-radius: .2rem;
}

.btn-links .btn {
  padding: 5px .5rem 5px .5rem;
  line-height: 1;
  box-shadow: 3px 3px 0 0 #505CCD;
  color: #505CCD;
  border-color: #505CCD;
  background-color: $sta-menu_primary !important;
}

.btn-links .btn:hover {
  padding: 5px .5rem 5px .5rem;
  line-height: 1;
  box-shadow: 3px 3px 0 0 #505CCD;
  color: $sta-menu_primary;
  border-color: $sta-menu_primary;
  background-color: #505CCD !important;

}

.btn.btn-sm {
  padding: 5px .4rem 5px .4rem;
  font-size: .6rem;
  border-radius: .2rem;
}

/*************************************************
 *  Navigation bar
 **************************************************/

.navbar {
  height: 70px;
  background: $sta-menu-primary;
  background-image: url(/img/otis-redding.png);
  box-shadow: none;
  font-size: 1.3rem; 
  font-weight: 900 !important;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;

  // Remove Bootstrap's navbar v-padding and assign v-padding to logo separately to maximise logo size.
  // Otherwise, Bootstrap's navbar v-padding causes issue with logo fitting within fixed 50px height bar in md-lg sizes.
  padding: 0 1rem;

  .nav-item {
    // For z-index compatibility with logo on mobile layout, otherwise nav-item can't be clicked when logo present.
    position: relative;
  }
  @include media-breakpoint-down(md) {
    height: 50px;

    .navbar-nav-scroll {
      width: 100%;
      overflow: hidden;

        /* add background image */
      .navbar-nav {
        overflow-x: auto;
        white-space: nowrap;
        background-image: url(/img/otis-redding.png);
        -webkit-overflow-scrolling: touch;
      }
    }
  }

  .navbar-nav {
    display: flex;

    .nav-link {
      color: rgba($sta-menu-text, .85);

      &.active,
      &:hover,
      &:focus {
        color: #118AB2;
      }

      &.active {
        font-weight: 900 !important;
        color: $sta-menu-text-active !important;
      }
    }
  }

  .dropdown-menu {
    font-size: #{$sta-font-size-small}px;
  }

  // Note: dedicated `dropdown-item-active` class to prevent ScrollSpy removing `active` class from language chooser.
  .dropdown-item.active,
  .dropdown-item-active {
    font-weight: bold;
    color: $sta-menu-text-active !important;
  }

}

.navbar-brand {
  // Set v-padding to 5px to align with 50/70px responsive max navbar heights.
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Galada;
  font-size: 1.8rem;
  font-weight: 300;
  position: relative;
  z-index: 1030;  // For z-index clickable mobile logo.
}

@include media-breakpoint-down(md) {
  // Used in conjunction with mobile .navbar-brand to center logo on mobile.
  .navbar-brand-mobile-wrapper {
    position: absolute;
    left: 0;
    right: 0;
  }
  .navbar-brand {
    // Center logo in mobile navbar.
    margin: 0 auto;
  }
  .navbar-brand img {
    max-height: 40px;  // 40px height + 10px v-padding = 50px.
  }
  .navbar-toggler {
    border-color: transparent;  // Remove Bootstrap's border from Toggle button.
  }
  #navbar-main .main-menu-item {
    text-align: left !important;
    padding-left: 0;
  }
  .navbar-collapse {
    z-index: 1031 !important;  // Appear just over navbar.
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    background-color: $sta-menu-primary;
    text-align: center !important;
  }
  #navbar-main .main-menu-item .nav-item {
    padding: 10px 25px !important;
  }
  #navbar-main .main-menu-item .nav-item .nav-link {
    padding: 5px 25px !important;
  }
}
